@charset "UTF-8";
body {
  background-color: #121212;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  display: grid;
  /* contexte sur le parent */
  place-items: center;
  /* alignement vertical et horizontal des enfants dans leur cellule */
  min-height: 100vh;
  margin: 0;
  font-size: 20px !important;
}

footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
}

.container {
  background: #292929;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  color: #C4C4C4;
  padding: 30px;
}

.page-wrapper {
  position: relative;
}
.page-wrapper .content-wrapper {
  position: fixed;
  top: 6.8rem;
  left: 14rem;
  width: calc(100% - 16rem);
}
.page-wrapper footer {
  position: fixed;
  left: 14rem;
  bottom: 5px;
  width: calc(100% - 16rem);
}

h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #BB86FC;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline {
  font-family: "Roboto", sans-serif;
  font-size: 20px !important;
  padding: 10px 15px;
  border: 3px solid #BB86FC;
  background-color: transparent;
  color: #BB86FC;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}

.btn-outline:hover {
  border: 3px solid #C4C4C4;
  color: #C4C4C4;
}

.btn-small {
  font-size: 16px !important;
}

.table {
  border-spacing: 10px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 1fr;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  justify-content: space-between;
}

label {
  text-align: right;
}

input {
  margin-left: auto;
  width: 85%;
  padding: 5px;
  font-size: 20px !important;
  font-family: "Roboto", sans-serif;
  background-color: #565656;
  border-radius: 10px;
  border-width: 0;
  color: #C4C4C4;
}

.table-center {
  border-spacing: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.table-center .row {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  justify-content: center;
}
.table-center input {
  margin: auto;
  width: 85%;
  padding: 5px 10px;
  font-size: 20px !important;
  font-family: "Roboto", sans-serif;
  background-color: #565656;
  border-radius: 30px;
  border-width: 0;
  color: #C4C4C4;
}

select {
  margin-left: auto;
  width: 88%;
  padding: 5px;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #565656;
  border-radius: 10px;
  border-width: 0;
  color: #C4C4C4;
  font-size: 20px !important;
  font-family: "Roboto", sans-serif;
}

.select-container {
  position: relative;
}
.select-container::after {
  /* Le pointeur du select */
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 0.75em;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-color: #C4C4C4;
  border-width: 6px;
  border-style: solid;
  pointer-events: none;
}

.number-wrapper {
  position: relative;
}
.number-wrapper:after, .number-wrapper:before {
  position: absolute;
  right: 5px;
  width: 1.6em;
  height: 1.1em;
  font-size: 10px;
  pointer-events: none;
  background-color: #565656;
}
.number-wrapper:after {
  color: #C4C4C4;
  content: "▲";
  margin-top: 5px;
  padding-bottom: 2px;
}
.number-wrapper:before {
  color: #C4C4C4;
  content: "▼";
  margin-bottom: 5px;
  bottom: 0;
  padding-top: 2px;
}

.sidebar {
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  background-color: #292929;
  font-size: 24px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  z-index: 111;
}
.sidebar .nav-item {
  text-align: left;
}
.sidebar .nav-item a {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
.sidebar .nav-item .nav-link {
  color: #C4C4C4;
}
.sidebar .nav-item.active {
  background-color: rgba(18, 18, 18, 0.5);
}
.sidebar .nav-item.active .nav-link {
  color: #BB86FC;
}

.topbar {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  background-color: #292929;
  font-size: 24px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  color: #C4C4C4;
}
.topbar .nav-item {
  padding: 15px 10px;
  text-align: left;
}
.topbar .nav-item .nav-link {
  color: #C4C4C4;
}
.topbar .nav-item.active {
  background-color: rgba(18, 18, 18, 0.5);
}
.topbar .nav-item.active .nav-link {
  color: #BB86FC;
}
.topbar .nav-item .search-input {
  display: inline-flex;
}
.topbar .nav-item .search-input input {
  border-radius: 10px 0 0 10px;
}
.topbar .nav-item .search-input .btn-outline {
  border-radius: 0 15px 15px 0;
}

/*# sourceMappingURL=main.css.map */
