@charset "UTF-8";
html, body {
  background-color: #121212;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  --page-background: #fff;
  font-size: 0.9vw !important;
}

footer {
  grid-area: footer;
  padding: 15px;
  width: fit-content;
  margin: auto;
}

.container {
  position: relative;
  background: #292929;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #C4C4C4;
  padding: 0;
  height: fit-content;
}
.container.items {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.container.items .item {
  padding: 30px 20px;
}
.container.solo {
  width: fit-content;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-wrapper {
  min-height: 100%;
}
.page-wrapper .content-wrapper {
  display: grid;
  grid-template-rows: "";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 0px 0px;
  grid-template-areas: "." "footer";
  position: absolute;
  width: calc(100% - 10.2rem);
  height: calc(100% - 3.4rem);
  top: 3.4rem;
  left: 10.2rem;
}
.page-wrapper .content-wrapper .container {
  margin: 20px 20px 0 20px;
  padding: 20px;
}

h2 {
  color: #C4C4C4;
  display: inline-block;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #BB86FC;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline {
  font-family: "Roboto", sans-serif;
  font-size: 20px !important;
  padding: 10px 15px;
  border: 3px solid #BB86FC;
  background-color: transparent;
  color: #BB86FC;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
}
.btn-outline::before {
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -1px;
  top: -1px;
  border-radius: 10px;
  border: 8px solid #BB86FC;
  background-color: #BB86FC;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
}
.btn-outline:hover {
  color: #292929;
}
.btn-outline:hover::before {
  transform: scaleX(1);
}
.btn-outline .text {
  position: relative;
}

.btn-small {
  padding: 5px 10px;
  font-size: 16px !important;
}

.search-input .btn-outline {
  border-radius: 0 10px 10px 0;
}
.search-input .btn-outline::before {
  border-radius: 0 10px 10px 0;
}

.table-config {
  border-spacing: 10px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 1fr;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  justify-content: space-between;
}

label {
  text-align: right;
}

input {
  margin-left: auto;
  width: 85%;
  padding: 5px;
  font-size: 20px !important;
  font-family: "Roboto", sans-serif;
  background-color: #565656;
  border-radius: 10px;
  border-width: 0;
  color: #C4C4C4;
}

.table-center {
  border-spacing: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.table-center .row {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  justify-content: center;
}
.table-center input {
  margin: auto;
  width: 85%;
  padding: 5px 10px;
  font-size: 20px !important;
  font-family: "Roboto", sans-serif;
  background-color: #565656;
  border-radius: 10px;
  border-width: 0;
  color: #C4C4C4;
}

select {
  margin-left: auto;
  width: 88%;
  padding: 5px;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #565656;
  border-radius: 10px;
  border-width: 0;
  color: #C4C4C4;
  font-size: 20px !important;
  font-family: "Roboto", sans-serif;
}

.select-container {
  position: relative;
}
.select-container::after {
  /* Le pointeur du select */
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 0.75em;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-color: #C4C4C4;
  border-width: 6px;
  border-style: solid;
  pointer-events: none;
}

.number-wrapper {
  position: relative;
}
.number-wrapper:after, .number-wrapper:before {
  position: absolute;
  right: 5px;
  width: 1.6em;
  height: 1.1em;
  font-size: 10px;
  pointer-events: none;
  background-color: #565656;
}
.number-wrapper:after {
  color: #C4C4C4;
  content: "▲";
  margin-top: 5px;
  padding-bottom: 2px;
}
.number-wrapper:before {
  color: #C4C4C4;
  content: "▼";
  margin-bottom: 5px;
  bottom: 0;
  padding-top: 2px;
}

.pager-full {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
}

table {
  border-spacing: 0;
  border-radius: 20px;
  width: 100%;
  padding-bottom: 20px;
}
table thead th {
  background: rgba(86, 86, 86, 0.5);
  padding: 20px;
}
table thead th:first-of-type {
  border-top-left-radius: 15px;
}
table thead th:last-of-type {
  border-top-right-radius: 15px;
}
table td {
  padding: 10px 10px;
}
table tr td {
  border-bottom: 3px solid #404040;
}

.sidebar {
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  background-color: #292929;
  font-size: 20px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  z-index: 111;
}
.sidebar .nav-item {
  position: relative;
  text-align: left;
}
.sidebar .nav-item a {
  display: inline-block;
  width: 100%;
  padding: 18px;
}
.sidebar .nav-item .nav-link {
  color: #C4C4C4;
}
.sidebar .nav-item.active {
  background-color: rgba(18, 18, 18, 0.5);
}
.sidebar .nav-item.active .nav-link {
  color: #BB86FC;
}
.sidebar .nav-item:hover {
  background-color: rgba(18, 18, 18, 0.3);
}
.sidebar .nav-item:hover .nav-link {
  color: #BB86FC;
}
.sidebar .nav-item span.number {
  position: absolute;
  top: 6px;
  color: #BB86FC;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.topbar {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  background-color: #292929;
  font-size: 20px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  color: #C4C4C4;
  z-index: 110;
}
.topbar .nav-item {
  padding: 10px 10px;
  text-align: left;
}
.topbar .nav-item .nav-link {
  color: #C4C4C4;
}
.topbar .nav-item.active {
  background-color: rgba(18, 18, 18, 0.5);
}
.topbar .nav-item.active .nav-link {
  color: #BB86FC;
}
.topbar .nav-item .search-input {
  display: inline-flex;
}
.topbar .nav-item .search-input input {
  border-radius: 10px 0 0 10px;
}

/* Page load animation */
.admin-once {
  opacity: 0;
}

.admin-once-active {
  transition: all 1s linear 0.3s;
}

.admin-once-to {
  opacity: 1;
}

/* Slide to home */
.admin-leave {
  transform: translateX(0);
}

.admin-leave-active,
.admin-leave-active .content-wrapper {
  transition: all 0.7s var(--easing);
}

.admin-leave-to .content-wrapper {
  transform: translateX(-50%);
}

.admin-leave-to {
  transform: translateX(100%);
}

.home-enter {
  transform: translateX(-100%);
}

.admin-enter-active,
.admin-enter-active .content-wrapper {
  transition: all 0.7s var(--easing);
}

.admin-enter-to {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
}

/*# sourceMappingURL=main.css.map */
