.sidebar {
    height: auto;
    width: 10.2rem;
    min-width: fit-content;
    max-width: 300px;
    left: 0px;
    top: 3.4rem;
    overflow: hidden;
    background-color: $card-background;
    font-size: 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    z-index: 111;
    animation: animateleft 1s;
    @keyframes animateleft {
        from{left:-300px;opacity:0} to{left:0;opacity:1}
    }
    .nav-item {
        position: relative;
        text-align: left;
        display: flex;
        a {
            display: inline-block;
            width: 100%;
            padding: 18px 14px;
        }
        .nav-link{
            color: $text-color;
        }
        &.active{
            background-color: rgba(red($backgroud), green($backgroud), blue($backgroud), 0.5);
            .nav-link{
                color: $primary-color;
            }
        }
        &:hover{
            background-color: rgba(red($backgroud), green($backgroud), blue($backgroud), 0.3);
            .nav-link{
                color: $primary-color;
            }
        }
        span.number{
            color: $primary-color;
            border-radius: 10px;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            float: right;
        }
    }
}
.topbar {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    display: flex;
    background-color: $card-background;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    color: $text-color;
    z-index: 110;
    .nav-item {
        padding: 10px 10px;
        text-align: left;
        .nav-link{
            color: $text-color;
        }
        &.active{
            background-color: rgba(red($backgroud), green($backgroud), blue($backgroud), 0.5);
            .nav-link{
                color: $primary-color;
            }

        }
        .search-input{
            display: inline-flex;
            input{
                border-radius: 10px 0 0 10px;
            }
        }
    }
    .topbar-sub {
        justify-content: flex-end;
        display: contents;
    }
}