.sidebar {
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-color: $card-background;
    font-size: 24px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    z-index: 111;
    .nav-item {
        position: relative;
        text-align: left;
        a {
            display: inline-block;
            width: 100%;
            padding: 20px;
        }
        .nav-link{
            color: $text-color;
        }
        &.active{
            background-color: rgba(red($backgroud), green($backgroud), blue($backgroud), 0.5);
            .nav-link{
                color: $primary-color;
            }

        }
        span.number{
            position: absolute;
            top: 10px;
            color: $primary-color;
            border-radius: 10px;
            padding: 5px;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    }
}
.topbar {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-color: $card-background;
    font-size: 24px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    color: $text-color;
    z-index: 110;
    .nav-item {
        padding: 15px 10px;
        text-align: left;
        .nav-link{
            color: $text-color;
        }
        &.active{
            background-color: rgba(red($backgroud), green($backgroud), blue($backgroud), 0.5);
            .nav-link{
                color: $primary-color;
            }

        }
        .search-input{
            display: inline-flex;
            input{
                border-radius: 10px 0 0 10px;
            }
            .btn-outline{
                border-radius: 0 10px 10px 0;
            }
        }
    }

}