html, body{
    background-color: $backgroud;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}
.material-icons {
    vertical-align: middle;
    margin: 5px 0px;
}
body{
    --page-background: #fff;
    font-size: 0.9vw;
    @media screen and (min-width: 1500px) {
        font-size: 16px !important;
    }
}
footer {
    grid-area: footer;
    padding: 15px;
    // position: absolute;
    // bottom: 0;
    width: fit-content;
    margin: auto;
}
.container {
    position: relative;
    background: $card-background;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: $text-color;
    // width: fit-content;
    padding: 0;
    height: fit-content;
    // min-height: 100%;
    &.items{
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        .item{
            // display:inline-block;
            padding:10px 10px;
        }
    }
    &.solo{
        width: fit-content;
        padding: 10px 40px 30px 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.page-wrapper{
    min-height: 100%;
    .content-wrapper{
        display: grid;
        grid-template-rows: "";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        gap: 0px 0px;
        grid-template-areas:
            "."
            "footer";
        position: absolute;
        width: calc(100% - 10.2rem);
        height: calc(100% - 3.4rem);
        // margin-bottom: 50px;
        top: 3.4rem;
        left: 10.2rem;
        .container {
            margin: 20px 20px 0 20px;
            
        }
    }
}
h2{
    color: $text-color;
    display: inline-block;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
}
.btn-outline {
    font-family: 'Roboto', sans-serif;
    font-size: 20px !important;
    padding: 10px 15px;
    border: 3px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    box-sizing: border-box;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: color 0.1s ease-in;
    overflow: hidden;
    
    &::before {
        content: '';
        position: absolute;
        left: -1px;
        right: 100%;
        bottom: -1px;
        top: -1px;
        background-color: $primary-color;
        transition: right 0.1s ease-in;
    }
    &:hover {
        color: $card-background;
        &::before {
            right: -1px;
        }
    }
    .text {
        position: relative;
    }
}
// .btn-outline:hover {
//     border: 3px solid $text-color;
//     color: $text-color;
// }
.btn-small {
    padding: 5px 10px;
    font-size: 16px !important;
}

.search-input{
    .btn-outline{
        border-radius: 0 10px 10px 0;
        &::before {
            border-radius: 0 10px 10px 0;
        }
    }
}