.table-config {
    border-spacing: 10px;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:10px;
    justify-content: space-between;
}
label{
    text-align: right;
}
input{
    margin-left: auto;
	width: 85%; 
    padding: 5px;
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif;
    background-color: #565656;
    border-radius: 10px;
    border-width: 0;
    color: #C4C4C4;
}
.input {
    padding: 5px;
    font-size: 20px !important;
    font-family: "Roboto", sans-serif;
    background-color: #565656;
    border-radius: 10px;
    border-width: 0;
    color: #C4C4C4;
}
.table-center {
    border-spacing: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    .row{
        display: grid;
        grid-template-columns: 1fr;
        margin:10px;
        justify-content: center;
    }
    input, .input {
        margin: auto;
        width: 85%; 
        padding: 5px 10px;
        font-size: 20px !important;
        font-family: 'Roboto', sans-serif;
        background-color: #565656 !important;
        border-radius: 10px;
        border-width: 0;
        color: #C4C4C4;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #C4C4C4;
        -webkit-box-shadow: 0 0 0px 1000px #565656 inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}
select {
    margin-left: auto;
	width: 88%; 
	padding: 5px;
	appearance: none;
	overflow: hidden;
	text-overflow: ellipsis;
    background-color: #565656;
    border-radius: 10px;
    border-width: 0;
    color: #C4C4C4;
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif;
}
.select-container{
	position: relative;

    &::after { 
        /* Le pointeur du select */
        content: '';
        position: absolute;
        top: 50%; 
        margin-top: -3px;
        right: .75em;  
        display: block; 
        width: 0; height: 0;
        border-color: transparent;
        border-top-color: #C4C4C4; 
        border-width: 6px;
        border-style: solid;
        pointer-events: none;
    }
}
.number-wrapper {
    position: relative;
    &:after, &:before {
        position: absolute;
        right: 5px;
        width: 1.6em;
        height: 1.1em;
        font-size: 10px;
        pointer-events: none;
        background-color: #565656;
    }
    &:after {
        color: #C4C4C4;
        content: "\25B2";
        margin-top: 5px;
        padding-bottom: 2px;
    }
    &:before {
        color: #C4C4C4;
        content: "\25BC";
        margin-bottom: 5px;
        bottom: 0;
        padding-top: 2px;
    }
}
.pager-full{
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
}
table {
    border-spacing: 0;
    border-radius: 20px;
    width: 100%;
    thead th {
        background: rgba(86, 86, 86, 0.5);
        padding: 20px;
    }
    thead th:first-of-type{
        border-top-left-radius: 15px; 
    }
    
    thead th:last-of-type{
        border-top-right-radius: 15px; 
    }
    tr {
        height: 40px;
    }
    tr td{
        border-bottom: 3px solid #404040;
    }
    tr:nth-of-type(even) {
        background-color: #323232;
    }
}
.col-2 {
    width: 16%;
}
.col-3 {
    width: 25%;
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
tr:last-child td {
    border-bottom: 0px;
}